link(href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet")
link(href='/assets/js/plugins/bootstrap-table/bootstrap-table.min.css', rel='stylesheet')
script(src="/assets/js/plugins/bootstrap-table/bootstrap-table.min.js")
script(src="/assets/js/plugins/bootstrap-table/bootstrap-table-locale-all.min.js")
script(src="/assets/js/plugins/bootstrap-table/extensions/export/bootstrap-table-export.js")
script(src="/assets/js/plugins/bootstrap-table/bootstrap-editable.js") 
script(src="/assets/js/plugins/bootstrap-table/tableExport.js")
script(src="/assets/js/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js")


