doctype html
html
  head
    title= title
    include ./head
    include ./head.bootstrap.jade
  body.pace-done
    .wrapper
      include ./menu
      div(id="page-wrapper" class="gray-bg" style="min-height: 761px;")
        include ./topbar
        include ./footer
        block content 